@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html{
  scroll-behavior:smooth;
}

body{
  margin: 0;
  padding:0;
  font-family: 'Raleway', sans-serif;
}

header{
  height:max(42vw, 475px);
  background: url("https://th.bing.com/th/id/R450a0898e82be6d06972fe23f9f143b5?rik=yQyMoXaAhTDjwQ&pid=ImgRaw");
  background-position: center;
  color: #000;
  text-align:center;
}

header nav{
  background-color: #222f3e;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  padding:20px;
  color:#000;
}

header nav a{
  font-size:20px;
  color:white;
  text-decoration:none;
  margin-right:10px;
}


header nav a:hover {
  color:#CCCCCC;
  border-bottom: #919191 solid 1px;
}

header .principal{
  margin-top: 75px;
  display:flex;
  flex-direction:column;
  justify-content:center;
}
header .principal h1{
  font-size:max(10vw, 90px);
}
header .principal h4{
  margin-top: -80px;
  font-size:25px;
}

.actualité{
  background-color: #222f3e;
  color:#fff;
  padding:30px;
  display:flex;
  flex-wrap:wrap;
}

.actualité .gauche{
  width: 50%;
  margin-right:10px;
}

.actualité .gauche h2{
	font-size:35px;
}

.actualité .gauche p{
	font-size:25px;
}

.actualité .droite img{
  width: 100%;
  max-width:700px;
}

.guides{
  padding:30px;
  background: white;
  background-position:center;
  color:#000;
}

.guides h1{
  font-size:45px;
  text-align:center;
}

.guides .guides-cartes{
  margin-top: 30px;
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content:center;
}

.guides .carte{
  color:#000;
  padding:45px;
  margin-right: 30px;
  margin-bottom: 20px;
}

.guides .carte img{
  width:100%;
  max-width:350px;
  min-width:150px;
}

.guides .carte img:hover{
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.blabla{
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #222f3e;
  color:#fff;
}

.blabla h1{
  text-align:center;
}

footer {
  background-color: #18212b;
  padding: 10px;
  color: #fff;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}

footer .social-media{
  display: flex;
}

footer .social-media p{
  margin-right: 15px;
  border: 1px solid #fff;
  border-radius: 100%;
  padding: 5px;
  text-align:center;
  width: 20px;
  cursor:pointer;
}

footer .social-media a{
 text-decoration: none;
 color: white;
}


@media screen and (max-width: 810px){
  .actualité .gauche{
    width: 100%;
    margin-right:10px;
  }
  .actualité .droite{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/*la scrollbar*/
 ::-webkit-scrollbar {  /*permet de modifier le style de la scrollbar*/
     width: 6px;  /*definit la longeur (l'epaisseur) de la scrollbar*/
 }
 ::-webkit-scrollbar-thumb {
     background: #222f3e;  /*definit la couleur du fond*/
     border-radius: 5px;  /*definit la taille de l'arrondissement des coins*/
}
