@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html{
  scroll-behavior:smooth;
}

body{
  margin: 0;
  padding:0;
  font-family: 'Raleway', sans-serif;
}

header{
  height:25vh;
  background-color: #004477;
  background-position: center;
  color: #000;
  text-align:center;
}

header nav{
  background-color: #222f3e;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  padding:20px;
  color:#000;
}

header nav a{
  font-size:20px;
  color:white;
  text-decoration:none;
  margin-right:10px;
}


header nav a:hover {
  color:#AAAAAA;
  border-bottom: #919191 solid 1px;
}

header .principal{
  margin-top: -35px;
  display:flex;
  flex-direction:column;
  justify-content:center;
}
header .principal h1{
  font-size:80px;
  color:#fff;
}

.bas{
  background-color: #222f3e;
  height:60px;
}

.blanc{
  background-color: white;
  height:40px;
}


/*centre*/
.paragraphe {
	padding: 20px 0;  /*definit la marge interne*/
	margin-left: 100px ;  /*definit la marge gauche*/
	margin-right: 100px ;  /*definit la marge droite*/
}
.paragraphe .ensemble {
    position: relative; /*definit l'emplacement de la barre grise sous le titre*/
    width: calc(100% - 20px);  /*définit la taille*/
    font-weight: 700;  /* definit l'epaisseur du texte*/
    font-size: 1.25rem;  /*definit la taille de fonte utilisé pour le texte*/
    text-transform: uppercase;  /*met les lettres en majuscules*/
    letter-spacing: 1px;  /*definit l'écrat entre les lettres*/
    text-shadow: 0 2px 3px rgba(0,0,0,0.3);  /*permet d'ajouter des ombres au texte*/
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
    border-radius: 20px;  /*definit la taille de l'arrondissement des coins*/
}
.ensemble .titre {
    color: rgba(255,255,255,0.9);  /*définit une couleur et son opacité*/
    position: relative;  /*definit l'emplacement de la barre grise sous le titre*/
    background-color: #004477 ;  /*definit la marge gauche*/;
	/* permet de créer une image représentant un dégradé de couleur linéaire (couleur 1 et 2 = bleu), d'opacité 0.69, puis d'ajouter une image qui est fixée et centrée */
    background-size: cover;  /*la taille de l'image est redimensionnée pour être aussi grande que possible tout en conservant ses proportions*/
    background-position-y: 100%;  /*definit la position du fond par rapport à l'axe des ordonnés*/
    padding: 15px 0 25px 20px;  /*definit la marge interne*/
    border-radius: 20px 20px 0 0;  /*definit la taille de l'arrondissement des coins*/
}
.ensemble .titre:after {  /*permet de créer une barre de couleur noir*/
    content: '';  /*ajoute rien apres la class titre /IMPORTANT*/
    position: absolute;  /*l'élément est retiré du flux normal et aucun espace n'est créé pour l'élément sur la page*/
    left: 20px;  /*definit une parti du positionnement*/
    bottom: 10px;  /*defnit l'emplacement de l'élément*/
    height: 5px;  /*definit la hauteur de la boîte de contenu d'un élément*/
    width: 10%;  /*définit la taille*/
    background: rgba(0, 0, 0, .3);  /*defnit la couleur et l'opacité du fond*/
}
.ensemble .contenu {  /*definit le texte de la partie contenu*/
    color: rgba(0, 0, 0, 0.5);  /*définit une couleur et son opacité*/
    font-size: 0.94rem;  /*definit la taille de fonte utilisé pour le texte*/
    padding: 10px 20px 20px;  /*definit la marge interne*/
    background-color: rgba(0, 0, 0, 0.1);  /*définit la couleur du fond et son opacité*/
    border-radius: 0 0 20px 20px;  /*definit la taille de l'arrondissement des coins*/
    overflow-wrap: break-word;  /*indique que les mots qui ne subissent habituellement pas de césure peuvent se scindés à n'importe quelle position si il n'y a pas d'autre choix*/
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);  /*permet d'ajouter des ombres au texte*/
    height: calc(100% - 106px);  /*definit la hauteur de la boîte de contenu d'un élément*/
}



/*le bas de la page*/
.blabla{
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #004477;
  color:#fff;
}

.blabla h1{
  text-align:center;
}

footer {
  background-color: #222f3e;
  padding: 10px;
  color: #fff;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}

footer .social-media{
  display: flex;
}

footer .social-media p{
  margin-right: 15px;
  border: 1px solid #fff;
  border-radius: 100%;
  padding: 5px;
  text-align:center;
  width: 20px;
  cursor:pointer;
}

footer .social-media a{
 text-decoration: none;
 color: white;
}


/*la scrollbar*/
 ::-webkit-scrollbar {  /*permet de modifier le style de la scrollbar*/
     width: 6px;  /*definit la longeur (l'epaisseur) de la scrollbar*/
 }
 ::-webkit-scrollbar-thumb {
     background: #222f3e;  /*definit la couleur du fond*/
     border-radius: 5px;  /*definit la taille de l'arrondissement des coins*/
}
